.PreviewTransactionGreen {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    color: white;
    background-color: #fff;
    margin: 5px 0px;
    // padding: 0px;
    border-right: 4px solid rgb(16, 192, 0);
    color: #000;
    p {
        padding: 4px;
        margin: 0px;
    }
}

.PreviewTransactionRed {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    color: white;
    background-color: #fff;
    margin: 5px 0px;
    // padding: 0px;
    border-right: 4px solid rgb(192, 0, 0);
    color: #000;
    p {
        padding: 4px;
        margin: 0px;
    }
}